.dialogs{
    display: grid;
    grid-template-columns: 2fr 1.5fr;   
}

.img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-right: 10px;
}

.dialogsItems{
    padding: 20px;
}

.dialog{
    display: grid;
    align-items: center;
}

.dialogz{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.dialogz a{
    text-decoration: none;
    color: black;
}

.dialogz a.active{
    color: gold;
}

.messages{
    padding: 20px;
}


